<nav class="menu-sidebar">
    <ul class="menu-container-section">
        <li class="menu-section">
            <span>FAVORITES 1</span>
            <ul class="menu-container-item">
                <li class="menu-item">
                    <fa-icon icon="coffee"></fa-icon> <a>Opcion 1</a>
                </li>
                <li class="menu-item">
                    <fa-icon icon="coffee"></fa-icon><a>Opcion 2</a>
                </li>
                <li class="menu-item">
                    <fa-icon icon="coffee"></fa-icon> <a>Opcion 3</a>
                </li>
            </ul>
        </li>
        <li class="menu-section">
            <span>FAVORITES 2</span>
            <ul class="menu-container-item">
                <li class="menu-item">
                    <fa-icon icon="coffee"></fa-icon> <a>Opcion 1</a>
                </li>
                <li class="menu-item">
                    <fa-icon icon="coffee"></fa-icon>  <a>Opcion 2</a>
                </li>
                <li class="menu-item">
                    <fa-icon icon="coffee"></fa-icon><a>Opcion 3</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>