<div class="site">
  <app-header></app-header>
  <app-menu-sidebar></app-menu-sidebar>
  <div class="container">

    <div class="main">
      <app-layout-card>
        <div header>
          Usuarios
        </div>
        <div body>
          <app-profile-avatar [image]="'https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/articulos/perfil-resilencia.jpg'" [name]="'Juan perez'" [level]="'Nivel 1'"></app-profile-avatar>
        </div>
      
        <div footer>
          <button>Accion 1</button>
          <button>Accion 2</button>
        </div>
      </app-layout-card>
    </div>
 
  </div>

</div>
